.contact {
    .content {
        span { font-size: 14px }
    }

    form {
        input,textarea {
            font-size: 14px;
            padding: 12px 15px;
            resize: none;
        }
    }
}