.logo-span { 
    font-size: 1.875rem; // 30px
    letter-spacing: 1px;
}

.header {
    padding: .5rem 0;
    transition: .5s ease-in-out;
    &.show {
        padding: 0;
        box-shadow: 0 -5px 10px  rgba(black , .15);
        background-color: #fff;
    }

    .navbar-toggler {
        width: 30px;
        height: 20px;
        &:focus { box-shadow: none }
        span { 
            height: 2px;
            transition: .5s;
        }
        span:nth-child(1) { transform-origin: top left }
        span:nth-child(3) { transform-origin: bottom left }
        &.show {
            span:nth-child(2) { opacity: 0 }
            span:nth-child(1) { transform: rotate(40deg) }
            span:nth-child(3) { transform: rotate(-40deg) }
            
        }
    }

    .navbar-collapse {
        background-color: #fff;
        box-shadow: 0 5px 20px rgba(black , .1);
        @include br(md) {
            background-color: transparent;
            box-shadow: none;
        } 
    }

    .navbar-light {
        .navbar-nav {
            .nav-link {
                padding: .5rem 1vw; 
                color: inherit;
                &.active,
                &:hover { color: $primary }
            }
        }
    }
}
